body {
	background-color: #ffff0070;
	font-family: Athelas;
	font-size: 20px;
}



h1 {
	font-family: Signpainter;
	font-weight: 600;
	font-size: 68px;
}

h2 {
	font-family: helvetica;
	font-weight: 400;
	font-size: 27px;
}

a {
	text-decoration: none;
	color: red;
	font-weight: bolder;
}

a:hover {
	color: goldenrod;
}



#js {
	width: 350px;
}

#jsine {
width: 200px;
}

#cave {
	width: 250px;
}

.img-circle {
	border-radius: 50%;
}

.shadowed {
	box-shadow: 5px 5px 3px black;
}

.boite {
	background: white;
	width: 700px;
    padding: 60px;
    margin: 50px auto;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 5px;
    text-align:  center
}



.btn-blue {
	background-color: lightgrey;
	color: red;
	padding: 13px 17px;
	border-radius: 5px;
}

.btn-blue:hover {
	background-color: goldenrod;
	color: black;
}


#introduction p {
	margin-bottom: 40px;
}

.btn-insta {
	background-color: lightgrey;
	color: red;
	padding: 13px 17px;
	border-radius: 5px;
}

.btn-insta:hover {
	background-color: goldenrod;
	color: black;
	padding: 13px 17px;
	border-radius: 5px;
}